<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="panel panel-default">
		<div class="panel-heading main-title">
			<h2>交易记录</h2>

		</div><!--		panel-heading		-->
		<div class="panel-body">
			 <!-- 高级搜索 -->
			<div class="well">
				<div class="row">
					<div class="col-sm-2">
						<div class="form-group">
							<label class="control-label" for="input-start-time">添加日期</label>
							<div class="input-group date">
								<input type="text" name="filter_start_time" value="{$filter_start_time}" placeholder="" data-date-format="YYYY-MM-DD" id="input-start-time" class="form-control">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
								</span>
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="form-group">
							<label class="control-label" for="input-end-time">添加日期</label>
							<div class="input-group date">
								<input type="text" name="filter_end_time" value="{$filter_end_time}" placeholder="" data-date-format="YYYY-MM-DD" id="input-end-time" class="form-control">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
								</span>
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="form-group">
							<label class="control-label" for="input-out_trade_no">订单号</label>
							<input type="text" name="out_trade_no" value="{$out_trade_no}" placeholder="订单号" id="input-out_trade_no" class="form-control">
						</div>
					</div>
					<div class="col-sm-2">
						<div class="form-group">
							<label class="control-label" for="input-name">买家姓名</label>
							<input type="text" name="name" value="{$name}" placeholder="买家姓名" id="input-name" class="form-control">
						</div>
					</div>
					<div class="col-sm-2">
						<div class="form-group">
							<label class="control-label" for="input-contact">买家手机号</label>
							<input type="text" name="contact" value="{$contact}" placeholder="买家手机号" id="input-contact" class="form-control">
						</div>
					</div>
					<div class="col-sm-2">
						<div class="form-group">
							<label class="control-label">卡种</label>
							<select id="card_id" name="card_id" class="form-control">
								<option value=""></option>
								<option value="1">S级</option>
								<option value="2">V级</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<a><button class="btn btn-primary pull-right" style="margin-right: 10px;" onclick='window.location.href="{:U('Card/card_transaction_export')}"'>导出</button></a>
						<button type="submit" id="button-filter" class="btn btn-primary pull-right" style="margin-right: 10px;"><i class="fa fa-search"></i>筛选</button>
					</div>
				</div>
			</div>
		    <!-- 数据列表 -->
		    <div class="data-table table-striped">
			<table class="table">
		    <thead>
		        <tr>
					<th>序号</th>
					<th>时间</th>
					<th>订单号</th>
		        	<th>买家姓名</th>
		        	<th>买家手机号</th>
					<th>等级</th>
					<th>价格</th>
					<th>买家地址</th>
					<th>状态</th>
					<th>物流单号</th>
					<th>操作</th>
				</tr>
		    </thead>
		    <tbody>
				<notempty name="_list">
				<volist name="_list" id="vo">
				<tr>
					<td id="user_id">{$vo.id} </td>
					<td>{$vo.time}</td>
					<td>{$vo.out_trade_no}</td>
					<td>{$vo.name}</td>
					<td>{$vo.contact}</td>
					<td>
						<if condition="$vo.card_id eq 1 ">S级
							<else />V级
						</if>
					</td>
					<td>{$vo.price}</td>
					<td>{$vo.address}</td>
					<th>
						<if condition="$vo.send_status eq 1">已发货<else/>未发货</if>
					</th>
					<td>{$vo.express_num}</td>
					<td><a href="{:U('Card/card_transaction_detail',array('id'=>$vo['id']))}">查看</a></td>
				</volist>
				<else/>
				<td colspan="10" class="text-center"> aOh! 暂时还没有内容! </td>
				</notempty>
			</tbody>
		    </table>
			</div>
		    <div class="page">
		        {$_page}
		    </div>
	    </div>
    </div>
</block>

<block name="script">
	<script src="__JS__/thinkbox/jquery.thinkbox.js"></script>
	<script type="text/javascript" src="__JS__/datetimepicker/moment.js"></script>
	<script type="text/javascript" src="__JS__/common.js"></script>
	<script type="text/javascript" src="__JS__/datetimepicker/bootstrap-datetimepicker.min.js"></script>
	<script>
		$("#card_id option[value='{$card_id}']").attr("selected",true);

		$('#button-filter').on('click', function() {
			var url = Think.APP+'/Admin/Card/card_transaction?token=lalala';

			var filter_start_time = $('input[name=\'filter_start_time\']').val();
			if (filter_start_time) {
				url += '&filter_start_time=' + encodeURIComponent(filter_start_time);
			}

			var filter_end_time = $('input[name=\'filter_end_time\']').val();
			if (filter_end_time) {
				url += '&filter_end_time=' + encodeURIComponent(filter_end_time);
			}

			var name = $('input[name=\'name\']').val();
			if (name) {
				url += '&name=' + encodeURIComponent(name);
			}

			var out_trade_no = $('input[name=\'out_trade_no\']').val();
			if (out_trade_no) {
				url += '&out_trade_no=' + encodeURIComponent(out_trade_no);
			}

			var contact = $('input[name=\'contact\']').val();
			if (contact) {
				url += '&contact=' + encodeURIComponent(contact);
			}

			var card_id = $('#card_id option:selected') .val();
			if (card_id) {
				url += '&card_id=' + encodeURIComponent(card_id);
			}
			location = url;
		});

		function status_change(id) {
			$.ajax({
				url: "{:U('Shop/status_change')}",
				type: 'post',
				data: {'id': id},
				success: function (data) {
					window.location.href = "{:U('Shop/index')}";
				}
			});
		}

		$('.date').datetimepicker({
			pickTime: false
		});
	</script>
</block>
