<extend name="Public/base" />
<block name="style">
<link href="__CSS__/Fancybox/jquery.fancybox-1.3.1.css" rel="stylesheet">
<style>
.upload-pre-item img{width:100px;height:100px;}
</style>
</block>
<block name="body">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>发布文章</h4>
        </div>
        <div class="panel-body table">
			<form class="form-horizontal form-bordered" action="{:U('Admin/Article/add')}" method="post" enctype="multipart/form-data">
			<table border=0 class="">
			    	<tr><td align='right'>文章标题：</td><td><input type="text"
															 name="title" class="form-control"/></td></tr>
			    	<tr><td align='right'>文章内容：</td><td><textarea class="form-control" name="content" rows="5" ></textarea></tr>
					<tr><td align='right'>文章类型：</td><td>
						<select class="form-control mb15" name="type">
							<volist name="_list" id="vo">
								<option value="{$vo.id}">{$vo.name}</option>
							</volist>
						</select>
					</td></tr>
					<tr><td align='right'>文章来源：</td><td><input type="text"
														   name="from" class="form-control"/></td></tr>
					<tr><td align='right'>文章配图：</td>
						<td>
							<input type="file" name="name[]">
							<input type="file" name="name[]">
							<input type="file" name="name[]">
							<input type="file" name="name[]">
							<input type="file" name="name[]">
							<input type="file" name="name[]">
							<input type="file" name="name[]">
							<input type="file" name="name[]">
						</td>
					</tr>
		    </table>
				<button  class="btn btn-success">发布</button>
				</form>
        </div>
        <div class="panel-footer">
			<button  class="btn btn-return" onclick="window.location.href = '{:U('Admin/Article/index')}'">返回</button>
        </div>
    </div>
</block>

<block name="script">
	<script src="__JS__/common.js"></script>
</block>