<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="panel panel-default">
		<div class="panel-heading main-title">
			<h2>未审核文章列表</h2>

		</div><!--		panel-heading		-->
		<div class="panel-body">
			 <!-- 高级搜索 -->
			<div class="search-form fr cf pull-right">
				<div class="sleft form-inline">
					<input type="text" name="id" class="search-input form-control"  placeholder="请输入文章ID">
					<a class=" btn btn-primary" href="javascript:;" id="search" url="{:U('index?type=0')}"><i class="btn-search"></i>搜索</a>
					<a class=" btn btn-primary" href="javascript:;" id="add" url="{:U('add_view')}"><i class="btn-search"></i>发布文章</a>
				</div>
			</div>
			<input type="hidden" id="admin_id" value="{$_SESSION['admin_id']}">
		    <!-- 数据列表 -->
		    <div class="data-table table-striped">
			<table class="table">
		    <thead>
		        <tr>
					<th>文章ID</th>
					<th>文章标题</th>
                    <th>创建人的用户ID</th>
		        	<th>文章来源</th>
		        	<th>发表时间</th>
					<th>文章类型</th>
					<th>操作</th>
				</tr>
		    </thead>
		    <tbody>
				<notempty name="_list">
				<volist name="_list" id="vo">
				<tr>
					<td id="vo_id">{$vo.id}</td>
					<td>{$vo.title}</td>
                    <td>{$vo.user_id}</td>
					<td>{$vo.article_from}</td>
					<td><?php echo date("Y年 n月 j日 H:i",$vo['create_time'])?></td>
                    <td>
                        <select class="form-control mb15" name="type" id="select_type">
                            <volist name="_type" id="vos">
                                <option value="{$vos.id}">{$vos.name}</option>
                            </volist>
                        </select>
                    </td>
					<td>
						<a href="{:U('Admin/Article/details?id='.$vo['id'])}">查看详情</a>
                        <a href=""id="type">文章归类</a>
						<a href="{:U('Admin/Article/delete?id='.$vo['id'])}">删除</a>
					</td>
				</tr>
				</volist>
				<else/>
				<td colspan="10" class="text-center"> aOh! 暂时还没有内容! </td>
				</notempty>
			</tbody>
		    </table>
			</div>
		    <div class="page">
		        {$_page}
		    </div>
	    </div>
    </div><!--		panel 		-->
</block>

<block name="script">
	<script src="__JS__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
        $('#type').click(function(){
            var type = $('#select_type').val();
            var id = $('#vo_id').html();
			var admin_id = $('#admin_id').val();
            var url = "{:U('Admin/Article/range')}";
            $.ajax({
                url:url,
                data:{
                    id:id,
                    type:type,
					admin_id:admin_id
                },
                type:'post',
                dataType:'json',
                success:function(data) {
                    if(data == 1){
                        window.location.reload();//刷新当前页面
                    }
                }
        })
        });
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
		var query  = $('.search-form').find('input').serialize();
		query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
		query = query.replace(/^&/g,'');
		if( url.indexOf('?')>0 ){
			url += '&' + query;
		}else{
			url += '?' + query;
		}
		window.location.href = url;
	});
	$("#add").click(function(){
		debugger
		var url = $(this).attr('url');
		var query  = $('.search-form').find('input').serialize();
		query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
		query = query.replace(/^&/g,'');
		if( url.indexOf('?')>0 ){
			url += '&' + query;
		}else{
			url += '?' + query;
		}
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
	</script>
</block>
